<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: lightskyblue">
            <h3 class="panel-title text-center">欢迎登录图书管理系统</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <form action="" method="post">
                    <p>姓名：
                        <input type="text" name="name" >
                    </p>
                    <p>密码：
                        <input type="text" name="password">
                        <p style="color: firebrick">{{ error }}</p>
                    </p>
                    <input type="submit" value="登录" class="btn btn-info" name="login" style="display: block;float: left;margin-left: 450px">
                </form>
                    <a href="{% url 'register' %}" style="display: block;">
                        <button class="btn btn-danger" style="margin-left: -390px">注册</button>
                    </a>
            </div>

        </div>
    </div>
</div>

</body>
</html>